* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--blue-color: #2196f3;
	--gray-color: #757575;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	list-style-type: none;
}

.container {
	box-sizing: border-box;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	text-decoration: none;
	list-style-type: none;
	text-transform: none;
}

/* nav */

.logo {
	font-family: 'Raleway', sans-serif;
}

.color-logo {
	color: var(--blue-color);
}

.header-line {
	display: flex;
	width: 100%;
	height: 80px;
	text-decoration: none;
	border-bottom: 1px solid #ececec;
}

.mailto-nav {
	padding-right: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: var(--gray-color);
}

.tel-nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: var(--gray-color);
}

.logo-nav {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.17;
	padding: 24px 0 25px 215px;
	color: black;
}

.menu-nav {
	display: flex;
	margin-left: 93px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	padding: 32px;
}

.nav-contacts {
	display: flex;
	flex-direction: row;
	padding: 32px 0 32px 0;
	margin-left: 371px;
	list-style-type: none;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
}

.link {
	padding: 24px;
	color: #212121;
	font-family: 'Roboto', sans-serif;
}


/* main index */

.main-section-page {
	width: 100%;
	height: 600px;
	background-color: #2f303a;
}

.main-text {
	background-color: #212121;
	width: 100%;
	height: 120px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.btn-main-page {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px 41px 10px 42px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	font-family: 'Roboto', sans-serif;
}

.lorem-class {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.17;
}

.lorem-paragraph {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: var(--gray-color);
}

.btn-portfolio {
	display: flex;
	justify-content: center;
	padding: 100px 0 34px 0;
	list-style: none;
	text-decoration: none;
}

.what-to-do {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
}

.our-team {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
}

.name {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.17;
}

.position-it {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.17;
	color: var(--gray-color);
}


/* main portfolio */

.btn {
	display: flex;
	margin: 8px;
	padding: 6px 22px 6px 22px;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	cursor: pointer;
	text-decoration: none;
	border: var(--blue-color);
	font-family: 'Roboto', sans-serif;
}

.card-set {
	display: flex;
	flex-wrap: wrap;
	width: 1170px;
	height: 1360px;
	gap: 30px;
	list-style: none;
}

.main-photos {
	width: 370px;
	height: 404px;
	border: 1px solid #eeeeee;
	/* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}

.color-heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
}

.color-portfolio {
	color: var(--gray-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
}

/* footer */

.footer-portfolio {
	margin-top: 88px;
	width: 1600px;
	height: 252px;
	background-color: #2f303a;
}

.footer-logo {
	display: flex;
	padding-top: 60px;
	font-weight: 700;
	font-size: 26px;
	color: white;
}

.address {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	font-family: 'Roboto', sans-serif;
} 

.color-address {
	color: white;
}

.mail-footer {
	text-decoration: underline;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
}

.color-tel {
	color: rgba(255, 255, 255, 0.6);
}



/* hover */

.btn:hover {
	color: white;
	background-color: var(--blue-color);
}

.btn-main-page:hover {
	color: #eeeeee;
	background-color: var(--blue-color);
}

.link:hover {
	color: var(--blue-color);
}

.mailto-nav:hover {
	color: var(--blue-color);
}

.tel-nav:hover {
	color: var(--blue-color);
}

.mail-footer:hover {
	color: var(--blue-color);
}

.color-tel:hover {
	color: var(--blue-color);
}
